.tournament-table {
    tr {
        :not(:first-child) td {
            width: 5%;
        }

        td {
            text-align: center;
            &.results-cell:hover {
                background-color: #F0F0F0;
            }

            &.empty-cell {
                background-color: #BEBEBE;
            }
        }
    }
}
